.about-page{
  font-family: $font-family-secondary;
  font-weight: 300;
  .about-title{
    font-size: 2.5rem;
  }
  .about-socials{
    text-align: end;
    font-size: 0.8rem;
    font-weight: 500;
  }
}