.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

footer {
  font-family: $font-family-secondary;
  text-align: center;
  padding: 0.5rem;
  font-weight: 200;
  color: tint-color($primary-font-color, 20%);
  margin-top: 2rem;
}
.fullpage-container {
  position: fixed !important;
  width: 100%;
  top: 0;
  .fullpage-section {
    // background-color: $secondary-accent-color;
    text-align: center;
  }

}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background-color: shade-color($primary-accent-color, 10%)!important;
}