$primary-accent-color: #64FF0A;
$primary-font-color: #0e200b;
$secondary-accent-color: #FC0AFF;
$support-secondary-accent-color: #f1ff96;
$support-accent-color: #FF970A;

$menu-bg-color: $primary-accent-color;

$font-family-secondary: 'Chivo Mono', monospace;
$font-family: 'Jost', sans-serif;
