$primary-accent-color: #8d7cf4;
$primary-font-color: #0e200b;
$secondary-accent-color: #44d431;
$support-secondary-accent-color: #f1ff96;
$support-accent-color: #fff59b;

$menu-bg-color: $primary-accent-color;

$font-family-secondary: 'Chivo Mono', monospace;
$font-family: 'Josefin Sans', sans-serif;

